<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{listName | placeholder: 'Add List'}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-label floating>List name:</ion-label>
                <ion-input type="text" [(ngModel)]="listName" name="listName"></ion-input>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label floating>Item:</ion-label>
                <ion-input (keyup.enter)="add()" type="text" [(ngModel)]="itemName" name="itemName"></ion-input>
            </ion-item>

            <button ion-button class="button-block" (click)="add()">Add</button>
        </ion-card-content>
    </ion-card>

    <!-- Items -->
    <ion-card *ngIf="items.length > 0">
        <ion-card-header>
            <h3>Added Items</h3>
        </ion-card-header>
        <ion-card-content>
            <ion-list >
                <ion-item *ngFor="let item of items; let i = index" >
                    <button ion-button color="dark" clear>
                        {{item.name}}
                    </button>
                    <button (click)="deleteItem(i)" ion-button outline item-right color="danger">
                        <ion-icon name="trash"></ion-icon>
                        Delete items ({{i}})
                    </button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <button  (click)="saveList()" ion-button icon-left class="button-block">
        <ion-icon name="add-circle" md="md-add-circle"></ion-icon>
        Add List
    </button>
</ion-content>