<ion-header>
    <ion-navbar color="primary">
      <ion-title>ToDo App</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
   <ion-card *ngFor="let list of wishList.lists">
     <ion-item>
        <h2>
            {{list.name}}
          </h2>
     </ion-item>


     <ion-list>
       <ion-item *ngFor="let item of wishList.items">
         <ion-icon name="arrow-dropright-circle"></ion-icon>
         {{ item.name }}
       </ion-item>
       <ion-item>
         <ion-icon name="arrow-dropright-circle"></ion-icon>
         Tetris
       </ion-item>
       <ion-item>
         <ion-icon name="arrow-dropright-circle"></ion-icon>
         Tetris
       </ion-item>
     </ion-list>
   </ion-card>

   <ion-fab right bottom>
     <button ion-fab color="primary" (click)="goToAdd()"><ion-icon name="add"></ion-icon></button>
   </ion-fab>
  </ion-content>
